<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estimacion</title>

    <link rel="stylesheet" media="print" href="datos/css/bootstrap.css" />

</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item of items">
                <input type="checkbox" name="" id="" v-model ="item.checked">
                {{ item.name }}
                <input type="number" name = "hh" v-model.number="item.hh">
                <ul v-show="item.hijos.length">
                    <li v-for="hijo of item.hijos">
                        <input type="checkbox" name="" id="" v-model ="hijo.checked">
                        {{ hijo.name }}
                        <input type="number" name = "hh" v-model.number="hijo.hh">
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li>
                Subtotal: <input type="number" name="" id="" v-model.number="subtotal">
            </li>
            <li>
                Gestion Intranet: <input type="number" name="" id="" v-model.number="GestionIntranet">
            </li>
            <li>
                Total: <input type="number" name="" id="" v-model.number="total">
            </li>

        </ul>


        <button  v-on:click="calcularSubTotal()"> 
            calcular
        </button>
        <button  v-on:click="agregaHijo()"> 
            agregaHijo
        </button>



        <pre>
            {{ items }}
        </pre>
    </div>
   
    <script src="datos/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="datos/js/bootstrap.js"></script>
    <script src="datos/js/vue.js" ></script>
    <script src="datos/js/app.js" ></script>
</body>
</html>