<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estimacion</title>
    <link rel="stylesheet" href="datos/css/bootstrap.css" />
    <link href="datos/librerias/open-iconic-master/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">

    <style>
    
    #app {
        margin-top: 20px;
    }
    .hh{

        float:right;
    }
    .texto{

        margin-left:10px;
    }
    .hijos{

        margin-left:30px;
    }
    .delete{
        margin-left: 8px;
        font-size: 20px;
        top: 7px;
        color: red;
        cursor: pointer;
    }
    .pencil{
        margin-left: 8px;
        font-size: 20px;
        top: 7px;
        color: #0059ff;
        cursor: pointer;
    }
    </style>

</head>
<body>
    <div id="app">
        <div class="row col-md-12"> 
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Estimacion
                    </div>
                    <div class="card-body">
                        <div v-for="(item, index) in items" >
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="" v-model ="item.checked">
                                        <span class="texto">{{ item.name }}</span>
                                    </div>
                                </div>
                                <input class="form-control" aria-label=""  min="0" type="number" name = "hh" v-model.number="item.hh" :disabled="item.hijos.length != 0">
                                <span class="oi oi-delete delete" title="Eliminar" @click="eliminarPadre(index)"></span>  
                                <span class="oi oi-pencil pencil" title="Editar" @click="editarPadre(index)"></span> 
                            </div>
                            <div class="hijos">
                                <div v-for="(hijo, index_hijo) in item.hijos">
                                    <div class="input-group mb-3" >
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input type="checkbox" aria-label="" v-model ="hijo.checked">
                                                <span class="texto">{{ hijo.name }}</span>
                                            </div>
                                        </div>
                                        <input class="form-control" aria-label="" type="number" name = "hh" v-model.number="hijo.hh" @change="item.hh = parseFloat(item.hijos.reduce((a, b) => a + b.hh, 0))">
                                        <span class="oi oi-delete delete" title="Eliminar" @click="eliminarHijo(index, index_hijo)"></span>  
                                        <span class="oi oi-pencil pencil" title="Editar" @click="editarHijo(index, index_hijo)"></span> 
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                       <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="texto">Subtotal HH</span>
                                </div>
                            </div>
                            <input class="form-control" aria-label="" type="number" name = "hh" v-model = "subtotal" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Gestion Intranet</label>
                            </div>
                          
                            <select class="custom-select" id="inputGroupSelect01" v-model="porcentaje">
                                <option value="">Seleccione</option>
                                <option v-for="n in 100" :value="n" > {{ n }} % </option>
                            </select>
                            <input class="form-control" aria-label="" type="number" name = "hh" v-model = "GestionIntranet" disabled>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span class="texto">Total HH</span>
                                </div>
                            </div>
                            <input class="form-control" aria-label="" type="number" name = "hh" v-model = "total" disabled>
                        </div>
                        <hr>
                        <center> <button type="button" class="btn btn-primary" @click="Calcular()">Calcular</button></center>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Panel de Acciones
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-primary" @click="muestraPanel(muestra_panel)">Nueva Tarea.</button>
                        <button type="button" class="btn btn-success" @click="ExporatEstimacion()">Exportar</button>
                    </div>       
                </div>
                <br>
                <div :class="errorsStyle" role="alert" v-show="mostrar">
                    <h4 class="alert-heading"></h4>
                    <ul class="" v-for="MsjValidacion of MsjsValidacion">
                        <li class="">{{MsjValidacion}}</li>
                    </ul>
                </div>
                <div class="card" v-if="muestra_panel">
                    <div class="card-header">
                    
                    </div>
                    <div class="card-body">
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Elementos</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" v-model="SelectElementos">
                                <option value="">Seleccione</option>
                                <option v-for="(elemento, index) in elementos" :value="index" > {{ elemento }} </option>
                            </select>
                        </div>

                        <div class="input-group mb-3" v-if="SelectElementos == 1">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Elementos Padres</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" v-model="SelectElementosPadres">
                                <option value="">Seleccione</option>
                                <option v-for="(item, index) in items" :value="index" > {{ item.name }} </option>
                            </select>
                        </div>
                        
                        <div class="input-group mb-3" v-for="(tarea, indexTarea) in tareas">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Titulo de la Tarea</span>
                            </div>
                            <input 
                                type="text" 
                                class="form-control" 
                                placeholder="Titulo" 
                                aria-label="Titulo" 
                                aria-describedby="basic-addon1" 
                                v-model="tarea.tarea" 
                                style="width: 35%;" />
                            
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">HH</span>
                            </div>
                            <input 
                                class="form-control" 
                                placeholder="HH" 
                                min="0" 
                                type="number" 
                                aria-label="Titulo" 
                                aria-describedby="basic-addon1"
                                v-model="tarea.hh">
                            <div class="input-group-prepend" v-show = "Create">
                                <button 
                                    class="btn btn-outline-primary nuevo" 
                                    type="button" 
                                    id="button-addon1" 
                                    title="Agregar"
                                    @click="addElement">+</button>
                            </div>
                            <div class="input-group-prepend" v-show ="Create">
                                <button 
                                    class="btn btn-outline-danger eliminar" 
                                    type="button" 
                                    id="button-addon1" 
                                    title="Eliminar"
                                    @click="deleteElement(indexTarea)">-</button>
                            </div>
                        </div>

                        <div id="#tareas">

                        </div>
                    </div>
                    <center>
                        <button type="button" class="btn btn-primary" @click="Agregar()" v-if="Create">Agregar</button>
                        <button type="button" class="btn btn-primary" @click="Editar()"v-else>Editar</button>
                    </center>
                    <br>

                  
                </div>

            </div>
        </div>
    </div>
   
    
   
    <script src="datos/js/jquery-3.3.1.slim.min.js" ></script>
    <script src="datos/js/bootstrap.js"></script>
    <script src="datos/librerias/FileSaver.js-master/dist/FileSaver.min.js" ></script>
    <script src="datos/js/vue.js" ></script>
    <script src="datos/js/app.js" ></script>
</body>
</html>